@import url(article.css);
body {
	background-color: #220;
}
#page #header {
	background-image: url(../images/city.jpg);
	background-color: #C69C4B;
}
#page {
	background-image: url(../images/photo2.jpg);
}
#menu a {
	color: #A97;
}
#menu a:link, #menu:hover a {
	color: #726035;
}
#menu a:hover {
	color: #221;
}